* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  -webkit-font-family: "PP Open Sans";
  font-family: "PP Open Sans";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf17f449b004fbc5981/original.otf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf17f449b004fbc5981/original.otf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
@font-face {
  -webkit-font-family: "PP Open Sans Heavy";
  font-family: "PP Open Sans Heavy";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1473182004dd71b34/original.otf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1473182004dd71b34/original.otf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
@font-face {
  -webkit-font-family: "PP Open Sans Bold";
  font-family: "PP Open Sans Bold";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1c6581c004ce67f97/original.ttf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1c6581c004ce67f97/original.ttf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lilita One";
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(28, 28, 28);
}
.close-button{
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.2;
  animation: appear 2s ease forwards;
  animation-delay: 2s;
  pointer-events: none; /* Desactiva los eventos de clic */
  z-index: 100;
}
.card-wrapper{
  position: relative;
}
.pulse{
  width: 300px;
  height: 410px;
  border-radius: 20px;
  position: absolute;
  z-index: -3;
}
.pulse div{
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.2;
   background: #fff;
   border-radius: 20px;
   animation: pulse 1s ease-out infinite;
   animation-delay: calc(1s * var(--i));
}
.card {
  position: relative;
  width: 306px;
  height: 416px;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(33,34,36,0.08);
  padding: 24px;
  padding-top: 48px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.card::before {
  content: "";
  background-image: conic-gradient(#fff 10deg, transparent 90deg);
  width: 160%;
  height: 160%;
  position: absolute;
  z-index: -2;
  left: -30%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  border-radius: 20px;
  animation: rotate 2s linear infinite;
}
.card::after {
  content: "";
  text-align: center;
  width: 300px;
  height: 410px;
  border-radius: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
  color: rgb(37, 37, 37);
  font-family: "PP Open Sans", "sans-serif";
  z-index: -1;
  background: linear-gradient(
    135deg,
    rgba(246, 12, 72, 1) 27%,
    rgba(255, 89, 119, 1) 100%
  );
  color: white;
  position: absolute;
}
.card > p:first-child {
  font-family: "PP Open Sans Bold";
  font-size: 10px;
}
.card span {
  font-family: "PP Open Sans Bold";
  font-size: 22px;
}
.lottie {
  width: 180px;
  height: auto;
  margin-inline: auto;
  opacity: 1;
}
#contador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-family: "PP Open Sans Bold", sans-serif;
  gap: 30px;
}
.contador {
  display: flex;
  gap: 10px;
  font-size: 60px;
  font-family: "PP Open Sans Heavy", sans-serif;
}
.counter-time {
  border-radius: 10px;
  padding: 8px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.counter-time p:first-of-type {
  text-align: center;
  min-width: 58.55px;
}
.temporalidad {
  font-size: 30px;
  text-align: center;
}
/* .texto {
    margin-bottom: 70px;
  } */
@media screen and (max-width: 600px) {
  #contador {
    font-size: 30px;
  }
  .contador {
    font-size: 40px;
  }
  .temporalidad {
    font-size: 12px;
  }
}
@media screen and (max-width: 514px) {
  #contador {
    font-size: 20px;
  }
  .contador {
    font-size: 42px;
  }
  .temporalidad {
    font-size: 12px;
  }
}
@media screen and (max-width: 411px) {
  #contador {
    font-size: 30px;
  }
}
@keyframes rotate {
  0%{ transform: rotate(0deg)}
  100%{transform: rotate(-360deg)}
}
@keyframes pulse {
  100%{
    opacity: 0;
    transform: scale(1.2);
  }
}
@keyframes appear {
  100%{
    opacity: 1;
    pointer-events: auto; /* Desactiva los eventos de clic */
  }
}